.my-btn {
	padding-left: 7%;
	padding-right: 7%;
}

.bottom-area-up {
	margin-left: 41%;
}

.bottom-area-in {
	margin-left: 46%;
}

.input-text {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 13%;
}
