.name {
	color: black;
	text-decoration: none;
}

.requests-box {
	overflow-x: auto;
	white-space: nowrap;
}

.row {
	margin-left: auto;
	margin-right: auto;
}

#request {
	display: inline-block;
}

#comment {
	background: lightblue;
}

#like {
	background: lightgreen;
}
