.contact-box {
	/* max-height: 90vh; */
	overflow: auto;
}

.message-box {
	/* max-height: 78vh; */
	overflow: auto;
}

.message {
	white-space: pre-wrap;
}

.sender-message {
	background: lightblue;
}

.recipient-message {
	background: lightgreen;
}

.new-message {
	height: 26mm;
}
